body{
    margin: 5px;
    padding: 5px;
    line-height: 1.15;
 }
 h1,h2,h3{
    font-weight: bold;
    margin-top:15px;
    font-size:20px
  
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }
 nav li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    height: 25px;
    width: 175px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: aqua;
 }
 img{
    width: 24%;
    padding: 10px;
    border: dashed 5px aqua;
    display: inline;
    margin: 0px;
    box-sizing: border-box;
 }
 p{
    font-family: Arial, Helvetica, sans-serif;
    border: solid 5px aqua;
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
    background-color: azure;
 }
 .gallery{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   border: 3px solid black;
   width: 90%;
   justify-content: space-evenly;
   align-items: stretch;
   justify-items: center;
 }
 .gallery img{
   width: 80%;
 }
 .gallery img:last-child{
   grid-column: 1/4;
 }
